#LoginBar{
    display: inline;
    position: relative;
    left: 913px;
}

.HeaderLogo{
    position: relative;
    left: 1200px;
    width: 350px;
}

#about\ us{
    color: chocolate;
}

.Description{
    color: chocolate;
}

body {
    background-image: url("images/BG3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    color: chocolate;
}