#LoginBar{
    display: inline;
    position: relative;
    left: 835px;
}

.HeaderLogo{
    position: relative;
    left: 40px;
    width: 350px;
}

.content {
    color: #ffffff;
    font-style: oblique;
    font-size: larger;
    width: 792px;
}

body {
    background-image: url("../../images/BG3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    color: #ffffff;
    font-style: oblique;
    font-size: larger;
}

footer a{
    border: 1px solid var(--lgnbtn-border-color);
    background: var(--lgnbtn-bg-color);
    border-radius: 3px;
}

footer a:hover {
    background: var(--lgnbtn-bg-color-hover);
    color:var(--txt-color);
}

:root{
    --lgnbtn-bg-color-hover:#D2691E;
    --lgnbtn-bg-color:#e9c38b;
    --lgnbtn-border-color:#D2691E;;
    --txt-color:white;;
}

.lgnbtn {
    border: 1px solid var(--lgnbtn-border-color);
    background: var(--lgnbtn-bg-color);
    border-radius: 3px;
    transition: all 250ms linear 125ms;
}

.lgnbtn:hover {
    background: var(--lgnbtn-bg-color-hover);
    color:var(--txt-color);
}